.header-navigation-bar{
    display:flex;
    flex-direction: row;
    list-style: none;
    width: 30%;
    justify-content: space-around;
    text-decoration: none;
    padding-top: 30px;
}

.authentication-element{
    list-style: none;
    align-self: center;
    display: flex;
    margin-right: 25%;
    padding-top: 30px;
}



.nav-container{
    display:flex;
    justify-content: space-between;
    background-color:azure;
}